@font-face{
	font-family: Bbadr;
	src:url(../fonts/BBADR.eot) format('eot'),
		url(../fonts/BBADR.woff) format('woff'),
		url(../fonts/BBADR.ttf) format('truetype');
}
@font-face{
	font-family: Bkoodak;
	src:url(../fonts/BKOODB.eot) format('eot'),
		url(../fonts/BKOODB.woff) format('woff'),
		url(../fonts/BKOODB.ttf) format('truetype');
}
@font-face{
	font-family: Btitr;
	src:url(../fonts/BTITRBD.eot) format('eot'),
		url(../fonts/BTITRBD.woff) format('woff'),
		url(../fonts/BTITRBD.ttf) format('truetype');
}
.navbar{
	background-image: linear-gradient(to right, MediumBlue  , Purple);

}
.navbar-nav{
	margin-top:-1%;
}
.nav-link{
	font-family:  Bkoodak;
    letter-spacing:1px;
    font-size: 15px;

}
.nav-link:hover{
	font-family:Bkoodak;
    letter-spacing:1px;
    font-size:16px;

}
.nav-item
{
	text-align:center;
}
.bg-HoneyDew
{
	margin-top:1%;
}
#row1{
	margin-top:2%;
}

#articles{
	margin-top:8%;
	margin-left:32%;
	width:40%;
	background = green;
}
#articles:hover{
   background-image: linear-gradient(to right, MediumBlue , Purple);
}
#title_filter{
	margin-top:8%;
	margin-left: 45%;
}
#filter1{
    margin-top:3%;
    margin-bottom: 3%;

}
.title{
   font-size:5px;
}
#price{
     margin-top:2%;
     margin-bottom:3%;
     margin-left:46%;
}
#title{
	margin-top:9%;
	margin-left: 42%;
}
.custom-select{
    font-family: Bbadr;
	font-size: 20px;
}
.cars{
	margin-top:3%;
	margin-bottom:3%;
}
.btn-outline-success{
	margin-top:1%;
	margin-left:45%;
}
.cards-row{
    padding-top:20px;
    padding-bottom:20px;
    background:#eee;
}
.thumbnail img{
    width:100%;
}
#btn-sm{
   text-align=justify;
}

.pagination{
	margin-right:24%;
	margin-top:2%;
}
.page-link:hover{
    background-image: linear-gradient(to right, DarkTurquoise  ,Aquamarine  );
}
.bg-dark{
	margin-top:2%;
	color:MintCream;
}
#Footer{
    margin-right:1%;
    width:100%;
    text-align:right;
}
.btn-success{
	margin-right:35%;
	margin-top:5%;
	width:38%;
}
