@font-face{
	font-family: Bbadr;
	src:url(../fonts/BBADR.eot) format('eot'),
		url(../fonts/BBADR.woff) format('woff'),
		url(../fonts/BBADR.ttf) format('truetype');
}
@font-face{
	font-family: Bkoodak;
	src:url(../fonts/BKOODB.eot) format('eot'),
		url(../fonts/BKOODB.woff) format('woff'),
		url(../fonts/BKOODB.ttf) format('truetype');
}
@font-face{
	font-family: Btitr;
	src:url(../fonts/BTITRBD.eot) format('eot'),
		url(../fonts/BTITRBD.woff) format('woff'),
		url(../fonts/BTITRBD.ttf) format('truetype');
}
		
.container-fluid{
	background: AliceBlue ;
}
.navbar{
	background-image: linear-gradient(to right, MediumBlue  , Purple);

}
.navbar-nav{
	margin-top:-1%;
}
.nav-link{
	font-family:  Bkoodak;
    letter-spacing:1px;
    font-size: 15px;

}
.nav-link:hover{
	font-family:  Bkoodak;
    letter-spacing:1px;
    font-size: 16px;

}
.nav-item
{
	text-align:center;
}

}
.bg-dark{
	margin-top:2%;
	color: MintCream;
}
#Footer{
    margin-right:1%;
    width:100%;
    text-align:right;
    color: MintCream;
}
#row1{
	height:575px;
}
#row2{
	margin-top:10% ;
	margin-bottom:10%;
	width:70%;
	margin-right:10%;
}
#row3{
	width: 50%;
	height:40%;
	margin-right:30%;
	margin-top:10%;
}
.card-columns .card{
	width:40%;
	height:50%;
}
.card-text{
	font-family:Bkoodak;
}
.btn-success{
	margin-right:35%;
	margin-top:5%;
	width:38%;
}
#Search{
	width:100%;
}
.btn-info{
	margin-left:10px; 
}
.text-white{
    background-image: linear-gradient(to right, LightBlue, Azure);
	width: 50%;
	text-align: right;
}
.page-link:hover{
    background-image: linear-gradient(to right, DarkTurquoise  ,Aquamarine  );
}