@font-face{
	font-family: Bbadr;
	src:url(../fonts/BBADR.eot) format('eot'),
		url(../fonts/BBADR.woff) format('woff'),
		url(../fonts/BBADR.ttf) format('truetype');
}
@font-face{
	font-family: Bkoodak;
	src:url(../fonts/BKOODB.eot) format('eot'),
		url(../fonts/BKOODB.woff) format('woff'),
		url(../fonts/BKOODB.ttf) format('truetype');
}
@font-face{
	font-family: Btitr;
	src:url(../fonts/BTITRBD.eot) format('eot'),
		url(../fonts/BTITRBD.woff) format('woff'),
		url(../fonts/BTITRBD.ttf) format('truetype');
}

.container-fluid{
	background: AliceBlue ;
}
#navbar{
	background-image: linear-gradient(to bottom, blue, DodgerBlue );
}

.nav-link{
	font-family:  Bkoodak;
    letter-spacing:1px;
    font-size: 20px;

}
.nav-item
{
	text-align:center;
}
#home{
    width:20%;
    height:20%;
}
.logo{
    margin-top:5%;
    width:100%
}
.bg-dark{
	margin-top:2%;
	color: MintCream;
}
#Footer{
    margin-right:1%;
    width:100%;
    text-align:right;
    color: MintCream;
}

#search{
	margin-top:18% ;
	margin-bottom:15%;
	width:50%;
	margin-right:20%;

}
#row1.row{
    text-align:center;
    padding-top:10% ;

}
#search_box{
	width: 50%;
	height:30%;
	margin-right:30%;
	margin-top:3%;

}
.card-columns .card{
	width:40%;
	height:50%;
}
.card-text{
	font-family:Bkoodak;
}
.btn{
	margin-right:35%;
	margin-top:5%;
	width:38%;
}

#Search{
	width:100%;
}
.btn-info{
	margin-left:10px;
}
.text-white{
    background-image: linear-gradient(to right, LightBlue, Azure);
	width: 50%;
	text-align: right;
}
.page-link:hover{
    background-image: linear-gradient(to right, DarkTurquoise  ,Aquamarine  );
}
#btn-results:hover{
    background-color:Green;
}

.btn-success{
	margin-right:35%;
	margin-top:5%;
	width:38%;
}
#Footer{
    margin-right:1%;
    width:100%;
    text-align:right;
}