<!DOCTYPE html>
{% load static %}
<html dir="rtl" lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Articles  |  
		{% if query %}{{query}}{% elif category %}{{category}}{% else %} دوره ها {% endif %}
		</title>
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
		<link rel="stylesheet" href="{% static 'css/style2.css' %}" >
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src={% static "js/bootstrap.min.js" %}></script>
	</head>
	<body>
		<div class="row1">
			<nav id="navbar" class="navbar navbar-expand-sm navbar-dark  ">
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <!-- Navbar links -->
			  <div class="collapse navbar-collapse" id="collapsibleNavbar">
			    <header class="row" >
					<div class="col-12 ">
						<div class="logo"  style='text-align:center;'>
							<a href={% url 'search' %}>
								<img id="home" style='width:20%;
								 height:20%;' src="https://www.iconsdb.com/icons/preview/orange/home-xxl.png" alt="خانه" >
							</a>
						</div>
					</div>
	            </header>
			    <nav>
				  <form class="form-inline" action={% url 'articles' %}>
				    <input class="form-control mr-sm-2" style="width:100%;" type="text" name="q" placeholder="Search">
				    <button class="btn-sm btn-success" type="submit">مقالات</button>
				  </form>
			    </nav>
			  </div>
			</nav>
		</div>
		<div class="container-fluid">
            <div class="row">
			    <div class="col" >
			    	<div class="row" style="margin-top:8%; margin-right:2%;">
			    		<h4>
			    			<span class="badge badge-pill badge-dark">
                                   مقالات
			    			</span>
                        </h4>
			    	</div>
						{% for article in articles %}
							<div class="card text-white">
								<div class="card-body">
								<a class="card-text" href={{article.Url}}>
									{{article.title}}
								</a>
								</div>
							</div>
						{% endfor %}
						<br>
				</div>
			</div>
		</div>
		<div class="row">
			{% if articles %}
				<ul class="pagination justify-content-center">
					{% if articles.has_previous %}
						<li class="page-item">
							<a  class="page-link" href="?page={{ articles.previous_page_number }}&q={{query}}">previous</a>
						</li>
					{% endif %}
					<li "page-item">
						<a class="page-link" >Page {{ articles.number }} of {{ articles.paginator.num_pages }}</a>
					</li>
					{% if articles.has_next %}
						<li class="page-item">
							<a  class="page-link" href="?page={{ articles.next_page_number }}&q={{query}}">next</a>
						</li>
					{% endif %}
				</ul>
			{% endif %}
		</div>

<!--footer-->

		<div class="navbar bg-dark " style='margin-top:17.5%;'>
			<button class="btn-info" style="margin-left:10px;">درباره سایت</button>
				<p id="Footer"  style="margin-top:10px;">
				  به شما کاربر محترم این امکان داده میشود تا در کمترین زمان از بین چندین سایت  دوره خود را بیابید. همچنین  میتوانید از بین مقالات  مختلف مقاله مورد نظر خود را جستجو  نمایید.
				</p>
		</div>
<!--end footer-->

	</body>
</html>