<!DOCTYPE html>
{% load static %}
<html dir="rtl" lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>search</title>
		<link rel="stylesheet" href={% static "css/bootstrap.min.css"%} >
		<link rel="stylesheet" href={% static "css/style2.css"%} >
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src={% static "js/bootstrap.min.js" %}></script>
	</head>
	<body>
		<div class="row1">
			<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top ">
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <!-- Navbar links -->
			  <div class="collapse navbar-collapse" id="collapsibleNavbar">
			    <ul class="navbar-nav">
			        <li class="nav-item">
		   				<a href="#" class="nav-link" >مدیریت و بازاریابی</a>
		   			</li>
		   			<li class="nav-item">
		   				<a href="#" class="nav-link">ترفندها</a>
		   			</li>
		   			<li class="nav-item">
		   				<a href="#" class="nav-link">عکاسی</a>
		   			</li>
		   			<li class="nav-item">
		   				<a href="#" class="nav-link"> نرم افزاهای کاربردی</a>
		   			</li>
		   			<li class="nav-item">
		   				<a href="#" class="nav-link">مهارت های زبان</a>
		   			</li>
		   			<li class="nav-item">
		   				<a href="#" class="nav-link">انیمیشن سازی</a>
		   			</li>
		   			<li class="nav-item">
		   				<a href="#" class="nav-link">هوش مصنوعی و یادگیری ماشین</a>
		   			</li>
		   			<li class="nav-item">
		   				<a href="#" class="nav-link">Programing And IT</a>
		   			</li>
		   			<li class="nav-item">
		   				<a href="#" class="nav-link">وبینار</a>
		   			</li>
		   			<li class="nav-item">
		   				<a href="#" class="nav-link">دروس مدرسه ای </a>
		   			</li>
		   			<li class="nav-item">
		   				<a href="#" class="nav-link"> آموزش های دانشگاهی</a>
		   			</li>
		   			<li class="nav-item">
		   				<a href="#" class="nav-link"> مدیریت فردی و اجتماعی</a>
		   			</li>
			    </ul>
			  </div>
		</div>
		<div class="container-fluid">
	     	<!--SEARCH-->
			<div id="row1" class="row">
				<div id="row2" class="row">
					<div id="row3">
						<form class="form-inline" action="/action_page.php">
						    <input id="Search" class="form-control mr-sm-2" type="text" placeholder="جستجوی دوره">
						    <button class="btn btn-success" type="submit">Search</button>
						</form>
					</div>
				</div>
			</div>
			<!--footer-->
			<div class="row bg-dark">
				<button class="btn-info" style="margin-left:10px; ">درباره سایت</button>
                    <p id='Footer'  style="margin-top:10px; ">
                      به شما کاربر محترم این امکان داده میشود تا در کمترین زمان از بین چندین سایت  دوره خود را بیابید. همچنین  میتوانید از بین مقالات  مختلف مقاله مورد نظر خود را جستجو  نمایید.
                    </p>
			</div>
			<!--end_footer-->
		</div>
	</body>
</html>